

setchart {
	display: none!important
}

.page-header {
	padding-top: 20px
}

.page-header .h-icon {
	margin-right: 11px
}

.page-header .menu,
.page-header .tab-content {
	margin-left: -10px;
	margin-right: -10px
}

.page-header .menu .menu-item,
.page-header .tab-content .menu-item,
.page-header .menu .tab-content-item,
.page-header .tab-content .tab-content-item {
	cursor: pointer;
	display: block;
	font-size: 18px;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	position: relative;
	padding-bottom: 10px;
	color: #000;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.page-header .menu .menu-item:before,
.page-header .tab-content .menu-item:before,
.page-header .menu .tab-content-item:before,
.page-header .tab-content .tab-content-item:before {
	content: "";
	width: 0;
	height: 2px;
	background-color: #277210;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.page-header .menu .menu-item:hover,
.page-header .tab-content .menu-item:hover,
.page-header .menu .tab-content-item:hover,
.page-header .tab-content .tab-content-item:hover {
	color: #277210
}

.page-header .menu .menu-item.active,
.page-header .tab-content .menu-item.active,
.page-header .menu .tab-content-item.active,
.page-header .tab-content .tab-content-item.active {
	color: #277210
}

.page-header .menu .menu-item.active:before,
.page-header .tab-content .menu-item.active:before,
.page-header .menu .tab-content-item.active:before,
.page-header .tab-content .tab-content-item.active:before {
	width: 96%
}

.card-tab {
	display: none
}

.card-tab.active {
	display: block
}

.container {
	max-width: initial;
	width: 90%;
	margin-left: auto;
	margin-right: auto
}

.page-content {
	padding: 0
}

.card {
	padding: 13px 25px
}

.card.no-border {
	border: none
}

.card.no-bg {
	background: 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.card.no-pm {
	padding: 0;
	margin: 0
}

.title-ic {
	font-size: 33px;
	position: relative;
	margin-bottom: 21px
}

.title-ic .tt-ic {
	color: #277210;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto
}

.title-ic.nl {
	margin-bottom: 0
}

.title-ic.nl .tt-ic {
	color: #000
}

.in {
	margin-bottom: 8px;
	width: 100%;
	display: block;
	background-color: #fff;
	padding: 10px
}

.in.shd {
	-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.in.no-pd {
	padding: 0
}

.d-list {
	overflow: hidden
}

.d-list .d-item {
	display: block;
	float: left;
	width: 33.33%;
	padding: 12px 25px;
	position: relative
}

.d-list .d-item.mid:after,
.d-list .d-item.mid:before {
	width: 1px;
	height: 70%;
	content: "";
	background-color: #00A651;
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto
}

.d-list .d-item.mid:before {
	left: 0
}

.d-list .d-item.mid:after {
	right: 0
}

.d-list .d-sing,
.d-list .d-text {
	display: inline-block;
	vertical-align: middle
}

.d-list .d-sign {
	width: 55px;
	margin-right: 25px
}

.d-list .dd1,
.d-list .dd2 {
	display: block
}

.d-list .dd1 {
	font-size: 14px
}

.d-list .dd2 {
	font-weight: 700;
	font-size: 19px
}

.d-list .gg {
	color: #38A86B
}

.h-conf {
	padding: 12px 33px 10px;
	position: relative;
	margin-bottom: 8px
}

.h-conf .h-text {
	font-size: 18px;
	color: #05460C
}

.h-conf .h-tab {
	width: 280px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #106F49;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto
}

.h-conf .h-tab .ht {
	display: inline-block;
	padding: 6px 28px 8px;
	font-size: 11px;
	color: #106F49;
	cursor: pointer
}

.h-conf .h-tab .ht:first-child {
	border-right: 1px solid #106F49
}

.h-conf .h-tab .ht.ht1 .ht-sign {
	background-image: url(../Images/activity/i1.svg)
}

.h-conf .h-tab .ht.ht2 .ht-sign {
	background-image: url(../Images/activity/i2.svg)
}

.h-conf .h-tab .ht .ht-sign {
	width: 11px;
	height: 11px;
	display: inline-block;
	margin-right: 8px
}

.h-conf .adj {
	display: block;
	position: absolute;
	right: 40px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 58.5px;
	height: 17px
}

.h-conf .adj .adj-s {
	display: inline-block;
	width: 21.25px;
	height: 16.25px;
	background-repeat: no-repeat;
	cursor: pointer
}

.h-conf .adj .rrr {
	margin-right: 16px;
	background-image: url(../Images/activity/r1.svg)
}

.h-conf .adj .rrr.active {
	background-image: url(../Images/activity/r2.svg)
}

.h-conf .adj .ggg {
	background-image: url(../Images/activity/g1.svg)
}

.h-conf .adj .ggg.active {
	background-image: url(../Images/activity/g2.svg)
}

.b-list {
	overflow: hidden;
	display: none
}

.b-list.active {
	display: block
}

.b-list.rrr .b-item {
	width: 100%
}

.b-list.rrr .r-display {
	opacity: 1;
	max-height: 500px;
	visibility: visible
}

.b-list.rrr .c-display {
	padding: 0;
	opacity: 0;
	max-height: 0;
	visibility: hidden
}

.b-list.ggg .b-item {
	width: 24%;
	margin-left: .5%;
	margin-right: .5%
}

.b-list.ggg .r-display {
	padding: 0;
	opacity: 0;
	max-height: 0;
	visibility: hidden
}

.b-list.ggg .c-display {
	opacity: 1;
	max-height: 500px;
	visibility: visible
}

.b-list .b-item {
	float: left;
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 8px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.b-list .b-item.green .r-sign {
	background-color: #25A572
}

.b-list .b-item.green .c-display:before {
	background-color: #25A572
}

.b-list .b-item.green .c-display .css {
	background-color: #25A572
}

.b-list .b-item.green .c-display .css .css-icon {
	font-size: 12px;
	top: -4px
}

.b-list .b-item.green .c-display .cc {
	display: inline-block
}

.b-list .b-item.orange .r-sign {
	background-color: #FF8710
}

.b-list .b-item.orange .c-display:before {
	background-color: #FF8710
}

.b-list .b-item.orange .c-display .css {
	background-color: #FF8710
}

.b-list .b-item.orange .c-display .css .css-icon {
	font-size: 12px;
	top: -5px;
	right: -1px
}

.b-list .b-item.orange .c-display .nc {
	display: inline-block
}

.b-list .r-display {
	padding-top: 7px;
	padding-left: 30px;
	padding-right: 40px;
	padding-bottom: 10px;
	background-color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	position: relative
}

.b-list .r-display span {
	display: inline-block;
	vertical-align: middle
}

.b-list .r-display .r-sign {
	width: 17px;
	height: 17px;
	margin-right: 24px;
	background-color: transparent;
	border-radius: 100%
}

.b-list .r-display .r-title {
	font-size: 13px;
	color: #000;
	width: calc(35% - 21px)
}

.b-list .r-display .r-desc {
	font-size: 13px;
	color: #677680;
	width: calc(65% - 21px)
}

.b-list .r-display .r-menu {
	position: absolute;
	display: inline-block;
	color: #25A572;
	right: 40px;
	cursor: pointer
}

.b-list .r-display .r-att {
	padding-top: 8px;
	padding-left: 42px;
	padding-right: 42px
}

.b-list .r-display .att-block {
	display: inline-block;
	border: 1px solid #25A572;
	padding: 6px 8px;
	margin-right: 6px;
	cursor: pointer;
	position: relative;
	margin-bottom: 6px
}

.b-list .r-display .att-block:before {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 0 8px;
	border-color: #fff #fff #fff #25A572
}

.b-list .r-display .att-block .att-sign,
.b-list .r-display .att-block .att-text {
	display: inline-block;
	vertical-align: middle
}

.b-list .r-display .att-block .att-sign {
	width: 17px;
	height: 19.2px;
	display: inline-block;
	margin-right: 8px
}

.b-list .r-display .att-block .att1 {
	font-size: 7px
}

.b-list .r-display .att-block .att2 {
	font-size: 6px;
	color: #677680
}

.b-list .c-display {
	padding: 10px;
	background-color: #fff;
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.b-list .c-display:before {
	width: 100%;
	position: absolute;
	height: 4px;
	content: "";
	left: 0;
	top: 0
}

.b-list .c-display .c-title {
	font-size: 15px;
	color: #000;
	position: relative;
	margin-bottom: 6px
}

.b-list .c-display .c-title .ctt {
	line-height: 16px
}

.b-list .c-display .css {
	position: absolute;
	top: 4px;
	right: 0;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	text-align: center
}

.b-list .c-display .css .css-icon {
	color: #fff;
	display: none;
	position: relative
}

.b-list .c-display .c-detail {
	line-height: 1.4;
	margin-bottom: 15px
}

.b-list .c-display .c-desc {
	font-size: 11px;
	color: #7F7F7F
}

.b-list .c-display .c-desc2 {
	font-size: 14px
}

.b-list .c-display .c-btn {
	text-align: center;
	font-size: 14px;
	border: 1px solid #106F49;
	margin-bottom: 10px;
	display: block;
	padding: 3px 20px 5px;
	cursor: pointer;
	border-radius: 4px
}

.b-list .c-display .c-btn .cccc {
	margin-right: 10px
}

.b-list .c-display .c-btn .cccc2 {
	font-size: 10px;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute
}

.b-list .c-display .btn-view {
	color: #fff;
	background-color: #106F49
}

.b-list .c-display .btn-manage {
	color: #106F49;
	position: relative;
	margin-bottom: 0
}

.content-part {
	display: flex;
	flex-wrap: wrap
}

.content-part .part {
	background-color: #fff
}

.content-part .part.no-bg {
	background-color: transparent
}

.content-part .part-1-3 {
	flex-basis: 24.2%;
	margin-right: .8%
}

.content-part .part-2-3 {
	flex-basis: 75%
}

.ic {
	margin-bottom: 13px;
	width: 100%;
	display: block;
	background-color: #fff;
	padding: 16px 15px 22px
}

.ic .ic-item-list {
	margin-bottom: 10px
}

.ic .ic-item-list .wrap-ic-item-list {
	margin-left: -.5%;
	margin-right: -.5%
}

.ic .ic-item-list .ic-item {
	width: 32.33%;
	height: 90px;
	margin-left: .5%;
	margin-right: .5%;
	overflow: hidden;
	margin-bottom: 10px;
	float: left;
	padding: 5px 10px;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	border: 1px solid transparent;
	background-color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.ic .ic-item-list .ic-item:hover,
.ic .ic-item-list .ic-item.active {
	border-color: #277210;
	background-color: #e4efe9
}

.ic .ic-item-list .ic-item .text-label {
	font-size: 22px;
	float: left;
	width: 50%;
	margin-top: 24px
}

.ic .ic-item-list .ic-item .number-label {
	font-size: 32px;
	text-align: right;
	width: 50%;
	float: left;
	margin-top: 17px
}

.ic .ic-item-list .p1,
.ic .ic-item-list .p2 {
	display: inline-block;
	vertical-align: middle
}

.ic .ic-item-list .p1 {
	width: 50%;
	color: #666
}

.ic .ic-item-list .p2 {
	width: 50%;
	color: #000
}

.ic .ic-item-list .tt1 {
	font-size: 14px
}

.ic .ic-item-list .tt2 {
	font-size: 21px
}

.ic .ic-item-list .tt3 {
	font-size: 15px
}

.ic .ic-item-list .tt3 .nm,
.ic .ic-item-list .tt3 .hl {
	display: inline-block;
	text-align: right
}

.ic .ic-item-list .tt3 .nm {
	width: 45%
}

.ic .ic-item-list .tt3 .hl {
	width: 55%;
	font-size: 32px;
	line-height: 1.18em;
	color: #05460C
}

.ic .ic-block.part-2 .icb-part {
	width: 50%;
	float: left;
	display: block
}

.ic .ic-block.part-2 .p1 {
	padding-top: 32px
}

.ic .ic-block.part-2 .ppp {
	margin-bottom: 54px
}

.ic .ic-block.part-2 .ppp1-item {
	width: 33.33%;
	display: inline-block
}

.ic .ic-block.part-2 .p2-item {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.ic .ic-block.part-2 .p2-item-txt {
	font-size: 14px
}

.ic .ic-block.part-2 .p2-item-txt2 {
	font-size: 13.5px;
	margin-bottom: 10px
}

.ic .ic-block.part-2 .p2il-item {
	border-bottom: 1px solid #D6D6D6;
	padding: 7px 0
}

.ic .ic-block.part-2 .p2il-item span {
	display: inline-block
}

.ic .ic-block.part-2 .p2il-item .dd {
	width: 4%;
	margin-right: 1%
}

.ic .ic-block.part-2 .p2il-item .mm {
	width: 11%;
	margin-right: 1%
}

.ic .ic-block.part-2 .p2il-item .yy {
	width: 8%;
	margin-right: 25%
}

.ic .ic-block.part-2 .p2il-item .status {
	height: initial;
	width: 23%;
	margin-right: 2%
}

.ic .ic-block.part-2 .p2il-item .desc {
	width: 25%
}

.ic .ic-block.part-2 .p2il-item:last-child {
	border-bottom: 0
}

.ic .ic-block .icb-tt1 {
	font-size: 16px;
	color: #666
}

.ic .ic-block .icb-tt2 {
	font-size: 18px;
	color: #000
}

.ic2 .wrap-ic2 {
	margin-left: -.5%;
	margin-right: -.5%
}

.ic2 .ic2-title {
	font-size: 22px;
	margin-bottom: 8px
}

.ic2 .ic2-list {
	font-size: 14px
}

.ic2 .ic2-list .header-ic2-list {
	margin-bottom: 4px
}

.ic2 .ic2-list .iii-list {
	display: block;
	padding: 4px 0
}

.ic2 .ic2-list span {
	display: inline-block
}

.ic2 .ic2-list .ic2-l1 {
	width: 13%;
	margin-right: 7%
}

.ic2 .ic2-list .ic2-l2 {
	width: 20%;
	margin-right: 4%
}

.ic2 .ic2-list .ic2-l3 {
	width: 16%;
	margin-right: 8%
}

.ic2 .ic2-list .ic2-l4 {
	width: 32%
}

.ic2 .ic2-list2 {
	font-size: 15px;
	color: #277210;
	border-bottom: 1px solid #d6d6d6;
	padding-top: 7px
}

.ic2 .ic2-list2 .lst-name {
	padding: 12px 0
}

.ic2 .ic2-list2 span {
	display: inline-block
}

.ic2 .ic2-list2 .name {
	width: 55%;
	margin-right: 5%
}

.ic2 .ic2-list2 .status {
	height: initial;
	width: 40%
}

.ic2 .ic2-part {
	padding: 10px;
	min-height: 230px;
	width: 49%;
	margin-left: .5%;
	margin-right: .5%;
	float: left;
	background-color: #fff
}

.search-item {
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 65%;
	height: 40px;
	margin: auto
}

.search-item .search-input {
	border: #106F49 solid 1px;
	border-radius: 3px;
	padding-left: 10px;
	height: 100%;
	width: 100%
}

.search-item .search-icon {
	position: absolute;
	font-size: 17px;
	right: 15px;
	top: 10px;
	color: #277210
}

.box-list-data {
	margin-top: 15px;
	width: 100%
}

.box-list-data .box-data-according {
	cursor: pointer;
	width: 100%;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc
}

.box-list-data .box-data-according .box-header {
	position: relative;
	height: 85px;
	width: 100%
}

.box-list-data .box-data-according .box-header .header-time {
	float: right;
	margin-right: 100px;
	font-size: 13px;
	margin-top: 15px
}

.box-list-data .box-data-according .box-header .header-time .t1 {
	margin-bottom: 15px
}

.box-list-data .box-data-according .box-header .header-time img {
	margin-top: -5px;
	margin-right: 10px
}

.box-list-data .box-data-according .box-header .header-menu {
	right: 25px;
	top: 30px;
	color: #A4AFB7;
	position: absolute
}

.box-list-data .box-data-according .box-header .header-cicle {
	float: left;
	width: 90px;
	height: 100%;
	position: relative
}

.box-list-data .box-data-according .box-header .header-cicle .circle {
	height: 26px;
	width: 26px;
	background-color: #FEB755;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 10px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto
}

.box-list-data .box-data-according .box-header .header-text {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	float: left;
	margin-top: 13px
}

.box-list-data .box-data-according .box-header .header-text .main-text {
	font-size: 13px
}

.box-list-data .box-data-according .box-header .header-text .sub-text {
	color: #677680;
	font-size: 13px
}

.box-list-data .box-data-according .box-content {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	height: 0;
	overflow: hidden;
	width: 100%;
	padding-left: 90px
}

.box-list-data .box-data-according .box-content .box-left {
	border-right: #E2E2E2 solid 1px;
	width: 55%;
	height: 100%;
	float: left
}

.box-list-data .box-data-according .box-content .box-left .box-id {
	margin-bottom: 30px
}

.box-list-data .box-data-according .box-content .box-left .box-id .box-subject {
	font-size: 14px
}

.box-list-data .box-data-according .box-content .box-left .box-id .box-value {
	font-size: 20px
}

.box-list-data .box-data-according .box-content .box-left .box-id .box-value .text-data {
	display: inline-block;
	width: 200px
}

.box-list-data .box-data-according .box-content .box-right {
	width: 45%;
	height: 100%;
	float: left;
	position: relative
}

.box-list-data .box-data-according .box-content .box-right .btn-resend {
	position: absolute;
	right: 20px;
	background-color: #277210;
	width: 103px;
	height: 32px;
	padding: 0;
	bottom: 10px
}

.box-list-data .box-data-according .box-content .box-right .btn-resend img {
	margin-right: 5px
}

.box-list-data .box-data-according .box-content .box-right .btn-resend span {
	font-size: 12px
}

.box-list-data .box-data-according .box-content .box-right .timeline {
	padding-left: 33px;
	position: relative;
	max-width: 1400px;
	margin: 0 auto
}

.box-list-data .box-data-according .box-content .box-right .timeline::after {
	content: '';
	position: absolute;
	width: 3px;
	background-color: #19961F;
	top: 15px;
	bottom: 0;
	left: 34px;
	margin-left: -3px
}

.box-list-data .box-data-according .box-content .box-right .container_text {
	position: relative;
	background-color: inherit;
	margin-top: 40px
}

.box-list-data .box-data-according .box-content .box-right .container_text .content_text {
	margin-left: 25px;
	padding-top: 7px
}

.box-list-data .box-data-according .box-content .box-right .container_text .content_text .text_title {
	color: #19961F;
	font-size: 16px
}

.box-list-data .box-data-according .box-content .box-right .container_text .content_text .text_date {
	font-size: 12px;
	color: #707070
}

.box-list-data .box-data-according .box-content .box-right .container_text:first-child {
	margin-top: 0!important
}

.box-list-data .box-data-according .box-content .box-right .container_text::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	right: -17px;
	background-color: #19961F;
	border: 4px solid #ADDAAF;
	top: 15px;
	border-radius: 50%;
	z-index: 1
}

.box-list-data .box-data-according .box-content .box-right .left {
	left: 0
}

.box-list-data .box-data-according .box-content .box-right .left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid #19961F;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #19961F
}

.box-list-data .box-data-according .box-content .box-right .right::after {
	left: -16px
}

.box-list-data .box-data-according.active .box-content {
	height: 504px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding-bottom: 25px
}

.box-list-data .box-data-according.active .header-text {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin-top: 22px;
	margin-left: 0
}

.box-list-data .box-data-according.active .header-text .main-text {
	font-size: 29px
}

.box-list-data .box-data-according.active .header-text .sub-text {
	display: none
}

@media (max-width:900px) {
	.ic .ic-item-list .wrap-ic-item-list {
		margin-left: -.5%;
		margin-right: -.5%
	}
	.ic .ic-item-list .ic-item {
		width: 49%;
		margin-left: .5%;
		margin-right: .5%
	}
	.ic .ic-block.part-2 .icb-part {
		width: 100%
	}
	.ic .ic-block.part-2 .ppp:last-child {
		margin-bottom: 20px
	}
	.ic2 .wrap-ic2 {
		margin-left: 0;
		margin-right: 0
	}
	.ic2 .ic2-part {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 13px
	}
	.box-list-data .box-data-according.active .box-content {
		height: 628px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		padding-bottom: 25px
	}
	.search-item {
		width: 100%
	}
}

.l-item {
	display: block;
	position: relative;
	padding: 10px 20px 10px;
	height: 55px;
	cursor: pointer;
	background-color: transparent;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-ms-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out
}

.l-item:after {
	position: absolute;
	width: 6px;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	background-color: transparent;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-ms-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out
}

.l-item.active {
	background-color: #E7F5ED
}

.l-item.active .l-text {
	color: #00A651
}

.l-item.active:after {
	background-color: #00A651
}

.l-item.s1 .l-sign,
.l-item.s5 .l-sign {
	height: 32px
}

.l-item.s1 .ss,
.l-item.s5 .ss {
	width: 27px;
	height: 32px;
	background-image: url(../Images/activity/s1.svg)
}

.l-item.s2 .l-sign {
	height: 23px
}

.l-item.s2 .ss {
	width: 19px;
	height: 23px;
	background-image: url(../Images/activity/s2.svg)
}

.l-item.s3 .l-sign {
	height: 26px
}

.l-item.s3 .ss {
	width: 19px;
	height: 26px;
	background-image: url(../Images/activity/s3.svg)
}

.l-item.s4 .l-sign {
	height: 18px
}

.l-item.s4 .ss {
	width: 24px;
	height: 18px;
	background-image: url(../Images/activity/s4.svg)
}

.l-item.s6 .l-sign {
	height: 24px
}

.l-item.s6 .ss {
	width: 23px;
	height: 24px;
	background-image: url(../Images/activity/s6.svg)
}

.l-item .l-sign,
.l-item .l-text {
	vertical-align: middle
}

.l-item .l-sign {
	text-align: center;
	width: 30px;
	margin-right: 10px;
	display: inline-block
}

.l-item .l-sign .ss {
	display: inline-block;
	background-repeat: no-repeat
}

.l-item .l-text {
	color: #000;
	font-size: 14px;
	display: inline-block;
	width: calc(100% - 80px);
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out
}

@media (max-width:767px) {
	.b-list.ggg .b-item {
		width: 48%;
		margin-left: .5%;
		margin-right: .5%
	}
	.b-list .r-display {
		padding: 10px
	}
	.b-list .r-display .r-sign {
		position: absolute
	}
	.b-list .r-display .r-title {
		padding-left: 30px;
		display: block;
		width: calc(100% - 38px)
	}
	.b-list .r-display .r-desc {
		padding-left: 30px;
		display: block;
		width: calc(100% - 38px)
	}
	.b-list .r-display .r-menu {
		top: 10px;
		right: 15px
	}
	.b-list .r-display .r-att {
		padding: 10px 0 10px;
		padding-left: 30px
	}
	.h-conf .h-text {
		margin-bottom: 20px
	}
	.h-conf .h-tab {
		position: relative;
		display: block;
		left: initil;
		top: initil;
		bottom: initil;
		right: initil;
		margin: initial;
		width: initial
	}
	.h-conf .h-tab .ht {
		width: 50%;
		padding: 6px 20px 8px;
		text-align: center
	}
	.h-conf .adj {
		top: 18px;
		margin: initial
	}
	.page-header .tab-content .tab-content-item {
		margin-left: 15px;
		margin-right: 15px
	}
	.l-item {
		padding: 10px 15px;
		text-align: center
	}
	.l-item .l-sign {
		width: initial;
		margin-right: 0
	}
	.content-part .part-1-3 {
		flex-basis: 57px
	}
	.content-part .part-2-3 {
		flex-basis: calc(99.2% - 57px)
	}
	.ic .ic-item-list .wrap-ic-item-list {
		margin-left: 0;
		margin-right: 0
	}
	.ic .ic-item-list .ic-item {
		width: 100%;
		margin-left: 0;
		margin-right: 0
	}
	.ic .ic-block.part-2 .p2il-item {
		border-bottom: 1px solid #D6D6D6;
		padding: 7px 0
	}
	.ic .ic-block.part-2 .p2il-item span {
		display: inline-block
	}
	.ic .ic-block.part-2 .p2il-item .dd {
		width: 8%;
		margin-right: 2%
	}
	.ic .ic-block.part-2 .p2il-item .mm {
		width: 48%;
		margin-right: 2%
	}
	.ic .ic-block.part-2 .p2il-item .yy {
		width: 38%;
		margin-right: 2%
	}
	.ic .ic-block.part-2 .p2il-item .status {
		width: 45%;
		margin-right: 5%
	}
	.ic .ic-block.part-2 .p2il-item .desc {
		width: 50%
	}
	.ic .ic-block.part-2 .p2il-item:last-child {
		border-bottom: 0
	}
	.ic2 .ic2-list span {
		text-align: center;
		vertical-align: middle
	}
	.ic2 .ic2-list .header-ic2-list {
		margin-bottom: 10px
	}
	.ic2 .ic2-list .item-ic2-list {
		border-bottom: 1px solid #D6D6D6
	}
	.ic2 .ic2-list .ic2-l1,
	.ic2 .ic2-list .ic2-l2,
	.ic2 .ic2-list .ic2-l3 {
		margin-right: 4%
	}
	.ic2 .ic2-list .ic2-l1 {
		width: 17%
	}
	.ic2 .ic2-list .ic2-l4 {
		width: 30%
	}
	.ic2 .ic2-list2 .lst-name span {
		vertical-align: middle;
		display: inline-block
	}
	.box-list-data .box-data-according.active .box-content {
		height: 628px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		padding-bottom: 25px
	}
	.search-item {
		width: 100%
	}
}

@media (max-width:680px) {
	.b-list.ggg .b-item {
		width: 100%;
		margin-left: 0;
		margin-right: 0
	}
	.search-item {
		width: 100%
	}
	.box-list-data {
		margin-top: 20px;
		width: 100%;
		height: auto
	}
	.box-list-data .box-data-according {
		width: 100%;
		-moz-box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
		box-shadow: 0 0 5px #ccc
	}
	.box-list-data .box-data-according .box-header {
		position: relative;
		height: 85px;
		width: 100%
	}
	.box-list-data .box-data-according .box-header .header-time {
		float: right;
		margin-right: 0;
		font-size: 13px;
		margin-top: 0;
		margin-bottom: 0;
		width: 100%
	}
	.box-list-data .box-data-according .box-header .header-time .t1 {
		margin-left: 10px;
		float: left
	}
	.box-list-data .box-data-according .box-header .header-time .t2 {
		float: right;
		margin-right: 10px
	}
	.box-list-data .box-data-according .box-header .header-time img {
		margin-top: -5px;
		margin-right: 10px
	}
	.box-list-data .box-data-according .box-header .header-menu {
		right: 25px;
		top: 30px;
		color: #A4AFB7;
		position: absolute
	}
	.box-list-data .box-data-according .box-header .header-cicle {
		float: left;
		width: 45px;
		height: 100%;
		position: relative
	}
	.box-list-data .box-data-according .box-header .header-cicle .circle {
		height: 26px;
		width: 26px;
		background-color: #FEB755;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		left: 10px;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto
	}
	.box-list-data .box-data-according .box-header .header-text {
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		float: left;
		margin-top: 13px;
		margin-left: 5px
	}
	.box-list-data .box-data-according .box-header .header-text .main-text {
		font-size: 13px
	}
	.box-list-data .box-data-according .box-header .header-text .sub-text {
		color: #677680;
		font-size: 13px
	}
	.box-list-data .box-data-according .box-content {
		padding-left: 10px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		height: 0;
		overflow: hidden;
		width: 100%
	}
	.box-list-data .box-data-according .box-content .box-left {
		border-right: #E2E2E2 solid 1px;
		width: 100%;
		height: 100%
	}
	.box-list-data .box-data-according .box-content .box-left .box-id {
		margin-bottom: 30px
	}
	.box-list-data .box-data-according .box-content .box-left .box-id .box-subject {
		font-size: 14px
	}
	.box-list-data .box-data-according .box-content .box-left .box-id .box-value {
		font-size: 20px
	}
	.box-list-data .box-data-according .box-content .box-left .box-id .box-value .text-data {
		display: inline-block;
		width: 170px
	}
	.box-list-data .box-data-according .box-content .box-right {
		width: 100%;
		height: 100%;
		position: relative
	}
	.box-list-data .box-data-according .box-content .box-right .btn-resend {
		position: absolute;
		right: 20px;
		background-color: #277210;
		width: 103px;
		height: 32px;
		padding: 0;
		bottom: 0
	}
	.box-list-data .box-data-according .box-content .box-right .btn-resend img {
		margin-right: 5px
	}
	.box-list-data .box-data-according .box-content .box-right .btn-resend span {
		font-size: 12px
	}
	.box-list-data .box-data-according .box-content .box-right .timeline {
		padding-left: 33px;
		position: relative;
		max-width: 1200px;
		margin: 0 auto
	}
	.box-list-data .box-data-according .box-content .box-right .timeline::after {
		content: '';
		position: absolute;
		width: 3px;
		background-color: #19961F;
		top: 15px;
		bottom: 0;
		left: 34px;
		margin-left: -3px
	}
	.box-list-data .box-data-according .box-content .box-right .container_text {
		position: relative;
		background-color: inherit;
		margin-top: 40px
	}
	.box-list-data .box-data-according .box-content .box-right .container_text .content_text {
		margin-left: 25px;
		padding-top: 7px
	}
	.box-list-data .box-data-according .box-content .box-right .container_text .content_text .text_title {
		color: #19961F;
		font-size: 16px
	}
	.box-list-data .box-data-according .box-content .box-right .container_text .content_text .text_date {
		font-size: 12px;
		color: #707070
	}
	.box-list-data .box-data-according .box-content .box-right .container_text:first-child {
		margin-top: 0!important
	}
	.box-list-data .box-data-according .box-content .box-right .container_text::after {
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
		right: -17px;
		background-color: #19961F;
		border: 4px solid #ADDAAF;
		top: 15px;
		border-radius: 50%;
		z-index: 1
	}
	.box-list-data .box-data-according .box-content .box-right .left {
		left: 0
	}
	.box-list-data .box-data-according .box-content .box-right .left::before {
		content: " ";
		height: 0;
		position: absolute;
		top: 22px;
		width: 0;
		z-index: 1;
		right: 30px;
		border: medium solid #19961F;
		border-width: 10px 0 10px 10px;
		border-color: transparent transparent transparent #19961F
	}
	.box-list-data .box-data-according .box-content .box-right .right::after {
		left: -16px
	}
	.box-list-data .box-data-according.active .box-content {
		height: auto;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		padding-bottom: 25px
	}
	.box-list-data .box-data-according.active .header-text {
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		margin-top: 20px;
		margin-left: 5px
	}
	.box-list-data .box-data-according.active .header-text .main-text {
		font-size: 29px
	}
	.box-list-data .box-data-according.active .header-text .sub-text {
		display: none
	}
}

@media (max-width:380px) {
	.box-list-data .box-data-according .box-header .header-time {
		font-size: 10px
	}
}

